In [1]:
import pandas as pd

In [2]:
dir_archivo = "/home/tonatiuh/Documents/Desarrollo/ZophiaLearning/datasets/"

In [3]:
nombre_archivos = [
    'detalle_categoria.csv',
    'detalle_cliente.csv',
    'detalle_productos.csv',
    'detalle_sucursal.csv',
    'ordenes.csv',
    'productos.csv',
    'hechos/hechos.csv']

nombre_archivo = nombre_archivos[0]

### Tablas

In [4]:
for item in range(len(nombre_archivos)-1):
    nombre_archivo = nombre_archivos[item]
    df = pd.read_csv(dir_archivo+f'ecommerce/{nombre_archivo}', delimiter='|')
    
    dir_destino = "/home/tonatiuh/Documents/Desarrollo/ZophiaLearning/ejercicios/"
    nombre_destino = f"ecommerce/stage/{nombre_archivo.replace('.csv','')}.parquet"
    
    df.to_parquet(dir_destino+nombre_destino)

### Tabla hechos

In [5]:
nombre_archivo = nombre_archivos[6]
df = pd.read_csv(dir_archivo+f'ecommerce/{nombre_archivo}', delimiter='|')
df = df.rename(columns={'categoria ':'categoria'})

In [6]:
df.head(3)

,orden_id,sucursal_id,cliente_id,sku,cantidad,precio,fecha_orden,fecha_envio,fecha_entrega,sucursal,...,escala,escala_min,escala_max,precio_escala,categoria_id,stock,marca,modelo,year,categoria
0,ORD99lA8w0xMR,C-50PO,C-05fD,i181F9,72,4520.84,2017-03-03,2017-03-06,2017-03-05,MOR-FNQ,...,51 - 75,51,75,4520.84,p-63G,5528,Audi,Sephia,2008,"Coupe, Sedan"
1,ORD99lA8w0xMR,C-50PO,C-05fD,u106N4,23,4848.85,2017-03-03,2017-03-06,2017-03-05,MOR-FNQ,...,1 - 25,1,25,4848.85,P-54g,3132,Geo,Colorado Regular Cab,2017,"Convertible, Sedan"
2,ORD99lA8w0xMR,C-50PO,C-05fD,A461V6,6,5554.87,2017-03-03,2017-03-06,2017-03-05,MOR-FNQ,...,1 - 25,1,25,5554.87,U-19r,9342,GMC,Savana 2500 Cargo,1995,"Wagon, Sedan"

In [7]:
dir_destino = "/home/tonatiuh/Documents/Desarrollo/ZophiaLearning/ejercicios/"

if nombre_archivo == 'hechos/hechos.csv':
    nombre_archivo = nombre_archivo[7:]

nombre_destino = f"ecommerce/stage/{nombre_archivo.replace('.csv','')}.parquet"

df.to_parquet(dir_destino+nombre_destino)